#main {
    margin-top:70px;
}


td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#profile{
	margin-top: 30px;
	border-radius: 5px;	
}

#profile img{
	width: 100%; display: block;
}

.removePadding{
	padding: 0px;
}

.imageMarginBot{
	margin-bottom: 30px;
}

#Menu_left{
	padding-left: 0px;
	padding-right: 20px;
}

#menu a{
	color:gray;
}

#Menu_left i{
	margin-right: 10px;
}

#Task_progress{
	color:gray;
}

.text_align_right{
	text-align: right;
}
.margin_bottom{
	margin-bottom: 10px;
}

.progress-xxs {height: 5px;}

#Menu_right{
	padding: 20px;
	border: 20px solid #eee;
}

#timeline{
	margin-bottom: 20px;
}

.font_bold{
	font-weight: bold;
}

.boder_with_shadow{
	border-radius: 5px;
	box-shadow: 1px 0 10px #AAA;
}

#feed .row{
	padding: 15px;
}

.border_bottom{
	border-bottom: solid #E8E8E8 1px;
}

#like_share_comment a{
	margin-right: 10px;
}
#like_share_comment{
	background: #eee;
}

#comment li{
	border: 0;
	padding: 0;
	background: #eee;
}
#comment {
	background: #eee;
}

.background_gray{
	background: #eee;
}

#comment img{
    width: 80%;
}

.stretch_img{
    position:relative;
    overflow:hidden;
}
.stretch_img img{
    position:absolute;
}

/*Status*/
#new_status {
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 1px 0 10px #AAA;
  font-family: 'Helvetica Neaue', 'Helvetica', sans-serif;
  margin-top: 1rem;
  padding: 0;
  margin-bottom: 30px;
}

#post_header {
  border-bottom: solid #E8E8E8 1px;
  margin: 0 2%;
  padding: 0.65rem 0;
  width: 95.75%;
}
#post_header li {
  display: inline-block;
}
#post_header a {
  font-size: 1.2rem;
  padding: 1rem 0;
  text-decoration: none;
}
#post_header li+li {
  border-left: solid #E8E8E8 1px;
}
#post_header li:first-child a {
  padding: 0 1rem 0 0;
}
#post_header li:nth-child(2) a {
  padding: 0 1rem;
}
#post_header li:nth-child(3) a {
  padding: 0 1rem;
}
#post_header li:nth-child(4) a {
  padding: 0 1rem;
}
#post_header li:last-child a {
  padding: 0 0 0 1rem;
}
#post_header .glyphicon {
  margin-right: 0.5rem;
}

#post_content {
  margin: 0 2%;
  padding: 0;
  width: 95.75%;
  border-bottom: solid #E8E8E8 1px;
}
#post_content img {
  margin: 1.25rem 0;
  padding: 0;
  width: 100%; display: block;
}
#post_content .textarea_wrap {
  cursor: text;
}
#post_content textarea {
  border: 0;
  margin: 0rem 0 0.5rem 0;
  outline: 0;
  padding: 2.5rem 0 0 1.25rem;
  resize: none;
}

#post_footer {
  line-height: 3rem;
  padding: 0 2% 0 3%;
  margin-bottom: 7px;
}
#post_footer .navbar-nav {
  padding: 0;
}
#post_footer .navbar-nav li {
  display: inline-block;
}
#post_footer .navbar-nav a {
  display: block;
  padding: 2rem 1.25rem 2.2rem 1.25rem;
}
#post_footer .navbar-nav .glyphicon {
  line-height: 0;
}
#post_footer :not(.btn) .glyphicon {
  color: #999;
}
#post_footer div {
  padding: 0;
  text-align: right;
}
#post_footer .btn {
  border-radius: 2px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2.2rem;
  margin-top: 0.75rem;
  padding: 0 0.75rem;
  vertical-align: middle;
}
#post_footer .btn-default {
  color: #666;
  margin-right: 0.5rem;
}
#post_footer .btn-default .glyphicon {
  color: #666;
  margin-right: 0.5rem;
}
#post_footer .caret {
  color: #666;
  margin-left: 0.5rem;
}
#post_footer .btn-primary {
  background-color: #4e69a2;
  padding: 0 2rem;
}