@using MVC._3SI.SalesForce.Infrastructure;
@using MVC._3SI.SalesForce.Infrastructure.Salesforce;
@using MVC._3SI.SalesForce.Models;
@using MVC._3SI.SalesForce.Entity.Salesforce;
@using Newtonsoft.Json;


<ul class="nav navbar-nav navbar-right">
    @{
        var accessToken = Convert.ToString(Session[Constants.AccessTokenSession]);
    }

    @if (string.IsNullOrEmpty(accessToken))
    {
        var accessTokenService = new AccessTokenService();

        <li><a href="@accessTokenService.AuthorizationEndpoint">Login</a></li>
    }
    else
    {
        var apiService = new ApiService(accessToken);
        var accessTokenService = new AccessTokenService();
        var text = apiService.GetUserFeeds();
        var Joject = JsonConvert.DeserializeObject<ChatterRootObject>(text);
        var text1 = apiService.GetUserProfile();
        <li><a href="#">@Joject.elements[1].parent.displayName</a></li>        
        <li>@Html.ActionLink("Log off","Logoff","Home")</li>
    }
</ul>