@using MVC._3SI.SalesForce.Infrastructure;
@using MVC._3SI.SalesForce.Infrastructure.Salesforce;
@using MVC._3SI.SalesForce.Models;
@using MVC._3SI.SalesForce.Entity.Salesforce;
@using Newtonsoft.Json;


<ul class="nav navbar-nav navbar-right">
    @{
        var accessToken = Convert.ToString(Session[Constants.AccessTokenSession]);
    }

    @if (string.IsNullOrEmpty(accessToken))
    {
        var accessTokenService = new AccessTokenService();

        <li><a href="@accessTokenService.AuthorizationEndpoint">Login</a></li>
    }
    else
    {
        var apiService = new ApiService(accessToken);
        var accessTokenService = new AccessTokenService();
        var userProfileJsonText = apiService.GetUserProfile();
        var jojectProfile = JsonConvert.DeserializeObject<ProfileRootObject>(userProfileJsonText);
        
        <li><a href="#">hello @jojectProfile.displayName</a></li>        
        <li>@Html.ActionLink("Log off","Logoff","Home")</li>
    }
</ul>